format/src/tests/schemas/xsd/expected/abstract.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:complexType name="Car">
    <xs:sequence>
      <xs:element name="make" minOccurs="1" maxOccurs="1" type="xs:string"/>
      <xs:element name="model" minOccurs="1" maxOccurs="1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Vehicle" abstract="true">
    <xs:sequence>
      <xs:element name="manufacturer" minOccurs="1" maxOccurs="1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="vehicle" minOccurs="1" maxOccurs="1">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="make" minOccurs="1" maxOccurs="1" type="xs:string"/>
        <xs:element name="model" minOccurs="1" maxOccurs="1" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
