format/src/tests/schemas/xsd/expected/all.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="metadata" minOccurs="1" maxOccurs="1">
    <xs:complexType>
      <xs:all>
        <xs:element name="author" minOccurs="1" maxOccurs="1" type="xs:string"/>
        <xs:element name="date" minOccurs="1" maxOccurs="1" type="xs:date"/>
        <xs:element name="version" minOccurs="1" maxOccurs="1" type="xs:string"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
