format/src/tests/schemas/xsd/expected/attribute_groups.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:complexType name="CommonAttrs">
    <xs:sequence>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="element" minOccurs="1" maxOccurs="1">
    <xs:complexType>
      <xs:sequence>
        <xs:sequence>
        </xs:sequence>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
