format/src/tests/schemas/xsd/expected/choice_in_sequence.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:complexType name="ChoiceGroup">
    <xs:choice>
      <xs:element name="image" minOccurs="1" maxOccurs="1" type="xs:anyURI"/>
      <xs:element name="video" minOccurs="1" maxOccurs="1" type="xs:anyURI"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="doc" minOccurs="1" maxOccurs="1">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="title" minOccurs="1" maxOccurs="1" type="xs:string"/>
        <xs:choice>
          <xs:element name="image" minOccurs="1" maxOccurs="1" type="xs:anyURI"/>
          <xs:element name="video" minOccurs="1" maxOccurs="1" type="xs:anyURI"/>
        </xs:choice>
        <xs:element name="footer" minOccurs="1" maxOccurs="1" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
