format/src/tests/schemas/xsd/expected/complex_content.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="element" minOccurs="1" maxOccurs="1">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="child1" minOccurs="1" maxOccurs="1" type="xs:string"/>
        <xs:element name="child2" minOccurs="1" maxOccurs="1" type="xs:integer"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
