format/src/tests/schemas/xsd/expected/facets_advanced.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:simpleType name="FlexibleId">
    <xs:union memberTypes="xs:integer xs:string"/>
  </xs:simpleType>
  <xs:element name="ages" minOccurs="1" maxOccurs="10" type="xs:integer"/>
  <xs:element name="flexible-id" minOccurs="1" maxOccurs="1" type="FlexibleId"/>
  <xs:element name="product" minOccurs="1" maxOccurs="1">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" minOccurs="1" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="200"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="description" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
            <xs:maxLength value="1000"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="scores" minOccurs="1" maxOccurs="unbounded" type="xs:integer"/>
  <xs:element name="usernames" minOccurs="0" maxOccurs="50" type="xs:string"/>
</xs:schema>

