format/src/tests/schemas/xsd/expected/mixed.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="paragraph" minOccurs="1" maxOccurs="1">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element name="em" minOccurs="0" maxOccurs="1" type="xs:string"/>
        <xs:element name="strong" minOccurs="0" maxOccurs="1" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
