format/src/tests/schemas/xsd/expected/primitives.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="duration" minOccurs="1" maxOccurs="1" type="xs:duration"/>
  <xs:element name="flag" minOccurs="1" maxOccurs="1" type="xs:boolean"/>
  <xs:element name="id-field" minOccurs="1" maxOccurs="1" type="xs:ID"/>
  <xs:element name="link" minOccurs="1" maxOccurs="1" type="xs:anyURI"/>
  <xs:element name="number" minOccurs="1" maxOccurs="1" type="xs:integer"/>
  <xs:element name="price" minOccurs="1" maxOccurs="1" type="xs:double"/>
  <xs:element name="ref-field" minOccurs="1" maxOccurs="1" type="xs:IDREF"/>
  <xs:element name="text" minOccurs="1" maxOccurs="1" type="xs:string"/>
  <xs:element name="timestamp" minOccurs="1" maxOccurs="1" type="xs:date"/>
  <xs:element name="when" minOccurs="1" maxOccurs="1" type="xs:dateTime"/>
</xs:schema>
