format/src/tests/schemas/xsd/expected/sequence.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="doc" minOccurs="1" maxOccurs="1">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="title" minOccurs="1" maxOccurs="1" type="xs:string"/>
        <xs:element name="author" minOccurs="1" maxOccurs="1" type="xs:string"/>
        <xs:element name="content" minOccurs="1" maxOccurs="1" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
