format/src/tests/schemas/xsd/expected/splat_modifiers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:complexType name="Fields">
    <xs:sequence>
      <xs:element name="field1" minOccurs="1" maxOccurs="1" type="xs:string"/>
      <xs:element name="field2" minOccurs="1" maxOccurs="1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OptionalFields">
    <xs:choice>
      <xs:sequence>
        <xs:element name="field1" minOccurs="1" maxOccurs="1" type="xs:string"/>
        <xs:element name="field2" minOccurs="1" maxOccurs="1" type="xs:string"/>
      </xs:sequence>
    </xs:choice>
  </xs:complexType>
  <xs:element name="multiple-fields" minOccurs="1" maxOccurs="1">
    <xs:complexType>
      <xs:sequence>
        <xs:sequence>
          <xs:element name="field1" minOccurs="1" maxOccurs="1" type="xs:string"/>
          <xs:element name="field2" minOccurs="1" maxOccurs="1" type="xs:string"/>
        </xs:sequence>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="optional-fields" minOccurs="1" maxOccurs="1">
    <xs:complexType>
      <xs:sequence>
        <xs:sequence>
          <xs:element name="field1" minOccurs="1" maxOccurs="1" type="xs:string"/>
          <xs:element name="field2" minOccurs="1" maxOccurs="1" type="xs:string"/>
        </xs:sequence>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="required-fields" minOccurs="1" maxOccurs="1">
    <xs:complexType>
      <xs:sequence>
        <xs:sequence>
          <xs:element name="field1" minOccurs="1" maxOccurs="1" type="xs:string"/>
          <xs:element name="field2" minOccurs="1" maxOccurs="1" type="xs:string"/>
        </xs:sequence>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
