format/src/tests/schemas/xsd/expected/union_mixed.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:simpleType name="FlexibleValue">
    <xs:union memberTypes="xs:integer xs:string xs:boolean"/>
  </xs:simpleType>
  <xs:simpleType name="NumericId">
    <xs:union memberTypes="xs:integer xs:float"/>
  </xs:simpleType>
  <xs:element name="id" minOccurs="1" maxOccurs="1" type="NumericId"/>
  <xs:element name="value" minOccurs="1" maxOccurs="1" type="FlexibleValue"/>
</xs:schema>
