format/src/tests/fonto/types/types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Definition of SimpleType -->
  <xs:element name="simpleRoot">
    <xs:simpleType>
      <xs:restriction base="xs:string"/>
    </xs:simpleType>
  </xs:element>

  <!-- Definition of ComplexType -->
  <xs:element name="complexRoot">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="childElement" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
